@import "../../helpers/breakpoints";

.table-container {
  border-radius: 0.5rem;
  overflow-x: auto;
}

.table {
  width: 100%;
  text-align: center;
  margin: 1em auto;
  border-collapse: separate;
  border-spacing: 0;

  @media screen and (max-width: $breakpoint-small) {
    border-collapse: collapse;
    word-break: break-word;

    .type-list {
      flex-direction: column;
    }
  }
}

.empty-cell {
  visibility: hidden;
}

.table th,
.table td {
  background-color: white;
  border: 1px solid #ccc;
}

.table-filter-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;

  &:focus {
    border-color: #66afe9;
    box-shadow: 0 2px 8px rgba(102, 175, 233, 0.6);
  }

  @media screen and (max-width: $breakpoint-medium) {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.table-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  @media screen and (max-width: $breakpoint-small) {
    flex-direction: column;
  }

  .table-header-name {
    margin: 0.5rem 0.3rem 0.5rem 0;
    white-space: nowrap;

    @media screen and (max-width: $breakpoint-small) {
      margin: 0.5rem 0;
    }
  }

  .table-sort-icon {
    display: contents;
  }
}

.move-list-item-name {
  white-space: nowrap;
}
