@import "../../helpers/breakpoints";

.app__pokemon-detail {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: minmax(800px, 1fr) 2fr;
  min-height: calc(100vh - 46px);
  overflow: auto;

  .app-pokemon-detail-stats-and-moves {
    max-width: calc(97vw - 800px);
  }

  .pokemon-details-info-traits {
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: $breakpoint-small) {
      flex-direction: column;
    }
  }

  .pokemon-detail-characteristics {
    text-align: center;
  }

  @media screen and (max-width: $breakpoint-xlarge) {
    grid-template-columns: 1fr;

    .app-pokemon-detail-stats-and-moves {
      max-width: 96vw;
    }
  }

  @media screen and (max-width: $breakpoint-small) {
    padding: 0 0.25rem;
  }
}

.pokemon-headers {
  display: flex;
  justify-content: space-around;
  align-items: center;

  div a {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      font-size: 1.5em;
      color: black;
    }
  }

  .pokemon-name {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0;
    }

    h3 {
      margin-top: 0.25rem;
    }
  }
}

.favourite-button {
  display: block;
  margin: 1em auto;
}

.pokemon-egg-group {
  margin: 0 1em;
}
