.pokemon-headers {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .pokemon-nav-option {
        min-width: 120px;
    }
  
    div a {
      display: flex;
      flex-direction: row;
      align-items: center;
  
      svg {
        font-size: 1.5em;
        color: black;
      }
    }
  
    .pokemon-name {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      p {
        margin: 0;
      }
  
      h3 {
        margin-top: 0.25rem;
      }
    }
  }