.pokemon-forms-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    align-items: center;
    margin-bottom: 2em;
}

.pokemon-form-item-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;

  .circle {
    position: absolute;
    background: white;
    width: 100px; // Adjust the circle size as needed
    height: 100px; // Adjust the circle size as needed
    border-radius: 50%;
  }

  .sprite {
    z-index: 1;
    position: relative;
    width: 100px;
    height: 100px;
  }

  .name {
    position: absolute;
    top: 85%;
  }
}
