@import "../../helpers/breakpoints";

.stats-slider-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;

  .stats-slider {
    width: 100%;

    .stat-slider-label {
      margin-right: 10px;
      width: 35%;
    }
  }

  @media screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
  }
}

.base-stat-container {
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $breakpoint-small) {
    display: flex;
    flex-direction: column;
  }

  p {
    text-align: center;
    margin: 0.5em;

    &.increased {
      color: red;
    }

    &.decreased {
      color: blue;
    }

    &.increased::before {
      content: "\2191"; /* Unicode character for up arrow */
      margin-right: 5px;
    }

    &.decreased::before {
      content: "\2193"; /* Unicode character for down arrow */
      margin-right: 5px;
    }
  }
}
