* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PokemonHollow";
  src: url("../public/fonts/pokemon/PokemonHollow.ttf");
}

@font-face {
  font-family: "PokemonSolid";
  src: url("../public/fonts/pokemon/PokemonSolid.ttf");
}

@import "./helpers/type-colors";

.header-text {
  font-weight: bolder;
}

.clickable {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.select-input {
  display: flex;
  justify-content: space-between;
  max-width: 10rem;
  align-items: center;
  margin: 0.5rem 0;

  select {
    cursor: pointer;
  }
}

.hide {
  visibility: hidden;
}

.no-wrap {
  white-space: nowrap;
}

.text-bold {
  font-weight: bold;
}

.z-move-types-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}