* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PokemonHollow";
  src: url("../public/fonts/pokemon/PokemonHollow.ttf");
}

@font-face {
  font-family: "PokemonSolid";
  src: url("../public/fonts/pokemon/PokemonSolid.ttf");
}

.header-text {
  font-weight: bolder;
}

.clickable {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.select-input > label {
  margin-right: 1em;
}

.hide {
  visibility: hidden;
}

.no-wrap {
  white-space: nowrap;
}

.text-bold {
  font-weight: bold;
}