@import "../../helpers/breakpoints";

.sort-egg-groups-bar-button {
  font-size: 18px;
  scroll-margin-top: 50px;
  display: block;
  margin: 0 auto;
}

.sort-egg-groups-bar-list {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .egg-group-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0;
    }
  }
}

.egg-group-icon {
  height: 75px;
  width: 75px;
  margin: 0 0.5rem;
}

.scroll-to-top-button {
  position: fixed;
  left: 10px;
  top: 40px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  @media screen and (max-width: $breakpoint-medium) {
    top: 0;
    z-index: 1001;
    margin-top: 0.25rem;
  }
}

.scroll-to-top-button:hover {
  background-color: #0056b3;
}

.pure-pokemon-table-header {
  margin-top: 0;
}

.secondary-egg-group-table {
  scroll-margin-top: 50px;
}
