.popup-button {
  cursor: pointer;
  width: fit-content;
  margin-top: 1rem;
  padding: 0.5rem;
}

// .moves-table {
//   @media screen and (min-width: 801px) {
//     height: calc(50vh - 150px);
//     overflow-y: scroll;
//     scrollbar-width: none; /* Hide scrollbar for Firefox */
//     -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */

//     &::-webkit-scrollbar {
//       display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
//     }
//   }
// }
