$type-colors: (
  --normal-color: #a8a77a,
  --fire-color: #ee8130,
  --water-color: #6390f0,
  --electric-color: #f7d02c,
  --grass-color: #7ac74c,
  --ice-color: #96d9d6,
  --fighting-color: #c22e28,
  --poison-color: #a33ea1,
  --ground-color: #e2bf65,
  --flying-color: #a98ff3,
  --psychic-color: #f95587,
  --bug-color: #a6b91a,
  --rock-color: #b6a136,
  --ghost-color: #735797,
  --dragon-color: #6f35fc,
  --dark-color: #705746,
  --steel-color: #b7b7ce,
  --fairy-color: #d685ad,
);

@each $color-name, $color-value in $type-colors {
  .#{str-slice($color-name, 3)} {
    background-color:  rgba($color-value, 0.6);
  }
}

.type-effectiveness-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin: 1rem 0;
  width: auto;

  .type-effectiveness-offense,
  .type-effectiveness-defense {
    display: flex;
    flex-direction: column;
  }

  .type-effectiveness-relation-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    flex-grow: 1;
    border-radius: 0.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .type-effectiveness-relation {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 2px 0 2px 1px rgba(0, 0, 0, 0.5);

    &:last-child {
      box-shadow: none;
    }

    .type-effectiveness-relations-list {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .type-effectiveness-relations-item {
        margin: 3px 0;
        background-color: #fafafa;
        margin-bottom: 10px;
        border-radius: 2px;
        box-shadow: 0 0 1px 0.2px black;
        color: #333;

        &:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }
      }
    }

    h3,
    p {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
