.type-effectiveness-lists {
  display: flex;
  justify-content: space-evenly;
}

.type-effectiveness-list-container {
  display: flex;
  flex-direction: column;
  margin: 0 1em;

  p {
    margin-bottom: 0;
  }
}

.type-effectiveness-list {
  list-style-type: none;
  padding: 0;

  li {
    white-space: nowrap;
  }
}
