.type-effectiveness-lists {
  display: flex;
  justify-content: space-evenly;
}

.type-effectiveness-list-container {
  display: flex;
  flex-direction: column;
  margin: 0 1em;

  p {
    margin-bottom: 0;
  }
}

.type-effectiveness-list {
  list-style-type: none;
  padding: 0;

  li {
    white-space: nowrap;
    display: flex;
    margin: 0.1rem 0;
    align-items: center;

    .type-effectiveness-list-item-icon {
      margin-right: 0.25rem;
    }
  }
}

.app__type-effectiveness {
  h4 {
    margin-bottom: 0;
  }
}
